@using Ticet.Core.DTOs
@model ListUsersViewModel
@{
    ViewData["Title"] = "List Users";
    var loggedInUserId = ViewBag.LoggedInUserId;

}
<h2>List of Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.ID</td>
                <td>@user.Name</td>
                <td>@user.RoleName</td>
                <td>
                    <a href="@Url.Action("EditUser", "Admin", new { id = user.ID })" class="btn btn-primary">Edit</a>
                    @if (user.ID.ToString() != loggedInUserId)
                    {
                        <a href="#" class="btn btn-danger" onclick="confirmDelete(@user.ID)">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        function confirmDelete(userId) {
            if (confirm("Are you sure you want to delete this user?")) {
                window.location.href = '@Url.Action("DeleteUser", "Admin", new { id = "__id__" })'.replace('__id__', userId);
            }
        }
    </script>
}